#map {
  position: absolute;
  top: 60px; /* Commence la carte juste sous la navbar */
  left: 0;
  width: 100vw; /* Prend toute la largeur */
  height: 100vh; /* Prend toute la hauteur restante après la navbar */
}
